/GPATH
/GRTAGS
/GTAGS
*.o
*.po
/addr2line/addr2line
/ar/acplex.c
/ar/acpyacc.c
/ar/acpyacc.h
/ar/ar
/ar/ranlib
/brandelf/brandelf
/common/native-elf-format.h
/cxxfilt/c++filt
/elfcopy/elfcopy
/elfcopy/mcs
/elfcopy/strip
/elfdump/elfdump
/findtextrel/findtextrel
/readelf/readelf
/size/size
/strings/strings
/nm/nm
/libdwarf/dwarf_funcs.c
/libdwarf/dwarf_pro_funcs.c
/libdwarf/dwarf_pro_pubnames.c
/libdwarf/dwarf_pro_types.c
/libdwarf/dwarf_pro_vars.c
/libdwarf/dwarf_pro_weaks.c
/libdwarf/dwarf_pubnames.c
/libdwarf/dwarf_pubtypes.c
/libdwarf/dwarf_types.c
/libdwarf/dwarf_vars.c
/libdwarf/dwarf_weaks.c
/libdwarf/libdwarf.a
/libdwarf/libdwarf_p.a
/libelf/libelf.a
/libelf/libelf_convert.c
/libelf/libelf_fsize.c
/libelf/libelf_msize.c
/libelf/libelf_p.a
/libelftc/elftc_version.c
/libelftc/libelftc.a
/libelftc/libelftc_p.a
